<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Pagina de registro</h1>
  <form>
    <h3>Formulario de registro</h3>
    <label>Nombre</label>
    <input>
    <label>Correo</label>
    <input>
    <label>Contraseña</label>
    <input>
    <button type="submit">Registraste</button>
  </form>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>